button:hover{
	box-shadow: 3px 3px gray;

}

.originalColors, .changePalette {
	margin-bottom: 15px
}

.activeColor{
	width:50px;
	height:50px;
	text-align: center;
	border:solid 1px black;
	display:inline-block;
	margin: 0px 10px 20px;
	cursor: pointer;
}

.color1{
	background-color: yellow;
}
.color3{
	background-color: blue;
}
.color2{
	background-color: orange;
}
.white{
	background-color: white;
}

body{
	text-align: center;
}



.mondrian{
	width:600px;
	margin:auto;
	clear: left;
}

.mondrian > div {
	border: solid 2px black;
}

.row1 > div{
	height:115px;
}

.row2 > div{
	height:157px;
}

.row3 >div{
	height:75px;
}

.row4 > div{
	height:170px;
	margin-bottom: 20px;
}

.r1box1{
	width:200px;
	float:left;
}

.r1box2{
	width:60px;
	float: left;
}

.r1box3{
	width:75px;
	float:left;
}

.r1box4{
	width:115px;
	float: left;
}

.r1box5{
	width:130px;
	float:right;
}

.r2box1{
	width:70px;
	float:left;
}

.r2box2{
	width:300px;
	float: left;
}

.r2box3{
	width:218px;
	float:left;
}

.r3box1{
	width:100px;
	float:left;
}

.r3box2{
	width:200px;
	float: left;
}

.r3box3{
	width:288px;
	float: right;
}

.r4box1{
	width:460px;
	float:left;
}

.r4box2{
	width:132px;
	float: right;
}

.masterpiece{
	visibility: hidden;
}
